:root {
     --canvas-bg: #fafafa;

    --border-radius-xs: 4px;
    --border-radius-s: 6px;
    --border-radius-m: 8px;
    --border-radius-l: 12px;

    --border-width-s: 1px;
    --border-width-m: 2px;
    --border-width-l: 3px;

    --box-fill:#e8f0fe;
    --box-border:#1a73e8;
    --box-text:#1a1a1a;

    --diamond-fill: #e317ba;
    --diamond-border:#1a73e8;
    --diamond-text:#1a1a1a;

}

.theme-brand1 {
    --box-fill:#1e2a3a;
    --box-border:#8ab4f8;
    --box-text:#f1f1f1;
    --canvas-bg: #121212;

    --diamond-fill: #blue;
    --diamond-border:#black;
    --diamond-text:#1a1a1a;
}

.theme-brand2 {
    --box-fill:#8ab4f8;
    --box-border:#f1f1f1;
    --box-text:#f1f1f1;
    --canvas-bg: #121212;

    --diamond-fill: #e317ba;
    --diamond-border:#1a73e8;
    --diamond-text:#1a1a1a;
}